div#div-workplace{
    height: 480px;
    margin-bottom:10px;
}
div#div-control, div#div-lesson-control{
    margin-top:5px;
    margin-bottom:5px;
}
div#div-source-code, div#div-output{
    height: 120px;
}
div#div-lesson{
    max-height:480px;
    font-size:small;
}
div#div-lesson p{
    text-align:justify;
}
div#div-lesson, div#div-source-code, div#div-output{
    overflow-y: scroll;
}
div#div-output, div#div-source-code{
    font-family:monospace;
    font-size:small;
}
footer#footer{
    font-size:smaller;
}
div.alert{
    font-size:medium;
}
