#__blocklyDiv{
    height:450px;
}
#__toolbox, #__startBlocks, #__lessonContainer, #__aboutContainer{
    display:none;
}
#__footer{
    text-align:right;
    font-size:small;
}
.__btnDiv{
    text-align:right;
    margin-bottom:20px;
}
#__output{
    font-family:'courier';
    height:200px;
    background-image:url('image/panda-goblock-small.png');
    background-repeat:no-repeat;
    background-position:bottom right;
    overflow:auto;
}
#__aboutRightDiv{
    background-repeat:no-repeat;
    background-image:url('image/panda-goblock.png');
    background-position:bottom right;
}
#__aboutRightDivFiller{
    height:200px;
}
#__xml{
    font-family:'courier';
    font-size:small;
    width:100%;
    height:450px;
    resize:none;
}
#__xmlContainer{
    display:none;
}
.__textAlignRight{
    text-align:right;
}
#__footer{
    margin-top:20px;
}
#__header{
    margin-top:10px;
    margin-bottom:20px;
}