<div class="col-md-6">
    <h3>What is goblock?</h3>
    <p>
        Goblock is a visual programming for newbie. Goblock allows you to make a program without dealing with syntax error.
        The basic foundation of goblock is google-blockly. However I've made several adjustment for education purpose.
    </p>

    <h3>How is it different from google blockly?</h3>
    <p>
        Goblock is not different from google blockly, it is built on top of google blockly. Goblock has several advantages:                
    </p>
    <ul>
        <li>
            <b>No ugly alert and prompt</b><br />
            Goblock use stratified.js and alertify to completely replace alert and prompt. Thus, you will not have a problem by accidentally check <i>Prevent this page from creating another dialog</i>.
        </li>
        <li>
            <b>Console-like output</b><br />
            Rather than using javascript alert, goblock prints the output into console-like interface, thus you can retrieve the output history easier.
            I also have modify it can print array beautifuly.
        </li>
        <li>
            <b>Better toolbox arrangement</b><br />
            The toolbox is arranged in a more practical order, so that you won't have any difficulty to find where-is-what.
        </li>
        <li>
            <b>Python and Javascript</b><br />
            You can immediately look for corresponding python &amp; javascript code in the same screen.
        </li>
    </ul>

</div>


<div id="__aboutRightDiv" class="col-md-6">
    <h3>Is it free?</h3>
    <p>Yes, you can download it <a href="https://github.com/goFrendiAsgard/goblock/archive/master.zip" target="blank">here</a></p>

    <h3>What is Guo, and why panda?</h3>
    <p>
        Guo is a Programming Panda, a mascot of Goblock. I use panda because it is black, white, and asian at the same time. 
        Stop being racist, and start to code.
    </p>
    <p>
        But honestly, why panda? Okay. One of my friend like panda so much. <span style="color:white;">徐维美, it's for you :)</span>
    </p>

    <h3>Who are you?</h3>
    <p>I am Go Frendi Gunawan, a Lecturer at STIKI Malang. Now I am single, but not available for any relationship.</p>
    <div id="__aboutRightDivFiller"></div>
</div>